@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 90rem;
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Paralax Effect */
header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 25;
}

.mountain1 {
  position: absolute;
  bottom: -100px;
  width: 1900px;
  right: 0;
  z-index: 19;
}

.person {
  position: absolute;
  width: 650px;
  bottom: -100px;
  left: -70px;
  z-index: 20;
}

.mountain2 {
  position: absolute;
  width: 1700px;
  bottom: -150px;
  left: 0;
  z-index: 18;
}

.mountain3 {
  position: absolute;
  width: 1300px;
  bottom: 150px;
  right: 0;
  z-index: 17;
}

.sky {
  position: absolute;
  width: 2100px;
  bottom: 250px;
  right: 0;
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 30;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.logo span {
  font-weight: 300;
}

/* Hamburger Menu */
.burger {
  display: none;
  cursor: pointer;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  width: 35%;
  max-width: 250px;
  list-style-type: none;
  border-style: none;
  border-radius: 8px;
  position: relative;
}

.navlinks a {
  color: rgb(202, 202, 202);
  text-align: center;
  border-style: none;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15x;
  position: relative;
}

.hamburger-menu {
  width: 1.55rem;
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.burger div {
  position: relative;
  width: 1.2rem;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

.navlinks {
  position: absolute;
  right: 0px;
  height: 32vh;
  top: 8vh;
  display: flex;
  background-color: #4b684a;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navlinks li {
  opacity: 0;
}

.burger {
  display: block;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* 
.bar{
    position: relative;
    width: 1.2rem; 
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}


.bar:before, .bar:after{
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before{
    transform: translateY(-8px);
}

.bar:after{
    transform: translateY(8px);
}
 */

.big-title {
  position: absolute;
  z-index: 30;
  line-height: 4rem;
  top: calc(50% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

section {
  width: 100%;
  background-color: #151515;
  position: relative;
}

section .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

section img {
  width: 100%;
}

section .container > * {
  margin: 2rem;
}

.content {
  color: #fff;
  transform: translateY(-50px);
}

.imgContainer {
  transform: translateY(50px);
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.border {
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.shadow {
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #151515, transparent);
}

.opacity {
  opacity: 0;
}

@media (max-width: 850px) {
  section .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .big-title {
    font-size: 3rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
  }
}

img {
  border-radius: 0.5em;
}

.projlist {
  /* list-style-type: upper-roman; */
  display: block;
}

.projlist li {
  margin-left: 50px;
}

.projlist li a {
  color: rgb(138, 175, 121);
}

/* Social List Styling */

.sociallist {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  
}

.sociallist li {
  margin: 2em;
}

.email {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.fa {
  padding: 20px;
  font-size: 25px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* .fa-facebook {
  background: #3b5998;
  color: white;
} */

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* .fa-instagram {
  background: #c03523;
  color: white;
} */

/* .fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-align: center;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} */

#preloader {
  background: #191F26 url(img/loading_animation.gif) center no-repeat;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
} 